// Color variables
$navigation-color		: #fff;


// Font stacks
$stack-lato				:	'Lato', Helvetica, Arial, sans-serif;
$stack-open-sans		: 	'Open Sans', Helvetica, Arial, san-serif;
$stack-poppins			:	'Poppins', Helvetica, Arial, sans-serif;


// Media queries break points
$break-small			:	768px;
$break-wide				:	1023px;

$boxWdith				:	100%;
$leftColumnWidth		: 	85px;
$dashboardHeadingWidth	: 	170px;
$socialMarginSumTablet	: 	4.3em;
$socialMarginSumDesktop : 	6.4em;
