// Color variables
$plain-white			: #fff;
$lime					: #42B574;
$light-yellow			: #fffef2;
$plain-black			: #000;
$dark-layer				: rgba(25, 25, 25, 0.6);
$intensive-yellow		: #ffd454;


// Font stacks
$stack-lato				:	'Lato', Helvetica, Arial, sans-serif;
$stack-open-sans		: 	'Open Sans', Helvetica, Arial, san-serif;
$stack-poppins			:	'Poppins', Helvetica, Arial, sans-serif;


// Media queries break points
$break-small			:	766px;
$break-wide				:	1023px;

$boxWdith				:	100%;
$leftColumnWidth		: 	85px;
$dashboardHeadingWidth	: 	170px;
$socialMarginSumTablet	: 	4.3em;
$socialMarginSumDesktop : 	6.4em;
