.button {
	width: 25%;
	margin: 0 auto;
	padding: 10px 0;
	color: $lime;
	background: transparent;
	border: 2px solid $lime;
	transition: .3s all ease;
	
	&:hover {
		color: $light-yellow;
		background: $lime;
		cursor: pointer;
	}
	
	&-lime {
		color: $lime;
		border: 2px solid $lime;
		&:hover {
			color: $light-yellow;
			background: $lime;
		}
	}

	&-grey {
		color: $very-dark-grey;
		border: 2px solid $light-yellow;
		background: $light-yellow;
		&:hover {
			color: $light-yellow;
			background: $dark-grey;
			border: 2px solid $dark-grey;
		}
	}

}

.swipe-button{
	width: 60px;
    height: 100px;
    cursor: pointer;
    position: fixed;
    top: 42.5vh;
    z-index: 100;
    
    &::before {
    	content: '';
    	position: absolute;
    	top: 50%;
    	-webkit-transform: translateY(-50%);
  		transform: translateY(-50%);
    }
    
    &::after {
    	position: absolute;
    	top: calc(50% - 1px);
    	width: 15px;
    	height: 2px;
    	background: linear-gradient(90deg, $medium-red 0%, #f48888 100%);
    	content: '';
    	-webkit-transition: width 0.3s 0.2s;
    	transition: width 0.3s 0.2s;
    	-webkit-backface-visibility: hidden;
    	backface-visibility: hidden;
    }

	&:hover::after{
		width: 127px;
	    transition-delay: 0s;
	}

	&--previous {
		left: .5em;

		&::before {
			@extend %swipeBefore;
    		border-width: 8px 13px 8px 0;
    		border-color: transparent $medium-red transparent transparent;
    		left: 0;
		}

		&::after {
			left: 13px;
		}
	}

	&--next {
		right: .5em;

		&::before {
			@extend %swipeBefore;
		    border-width: 8px 0 8px 13px;
		    border-color: transparent transparent transparent $medium-red;
		    right: 0;
		}

		&::after {
			right: 13px;
			background: linear-gradient(90deg, #f48888 0%, $medium-red 100%);
		}
	}

	&__preview-prev {
		@extend %swipePrevNext;
    	left: 30px;
    	background-image: url("img/projects/gallery1.jpg");
    	
    	&::after {
    		content: 'Previous';
    		@extend %swipePrevNextAfter;
		    transform: translateX(125%);
    	}
	}
	
	&__preview-next {
		@extend %swipePrevNext;
    	right: 30px;
    	background-image: url("img/projects/video1.jpg");
    	&::after {
    		content: 'Next';
    		@extend %swipePrevNextAfter;
		    transform: translateX(-125%);
    	}
	}

	&:hover .swipe-button__preview-prev {
		opacity: 1;
	}
	&:hover .swipe-button__preview-prev::after {
		@extend %swipePrevNextHoverAfter;
	}
	&:hover .swipe-button__preview-next {
		opacity: 1;
	}
	&:hover .swipe-button__preview-next::after {
		@extend %swipePrevNextHoverAfter;
	}
}

// Back to top Button
.back-to-top {
	opacity: 0;
	position: fixed;
	right: 75px;
	bottom: 50px;
	transition: all .5s linear;
	cursor: pointer;
	svg {
		width: 40px;
		height: 40px;
	}
}

.preview-mobile,
.preview-tablet,
.preview-desktop,
.preview-overlay-close {
	display: inline-block;
	position: relative;
	width: 55px;
	height: 55px;
	background: $plain-white;
	padding: 0.9em;
	border: 3px solid $dark-grey;
	border-radius: 50%;
	margin: .5em;
	cursor: pointer;
	transition: all .3s ease-in;

	&:hover {
		background: #dedede;
		border: 3px solid #dedede;
	}

	&:hover svg {
		transform: scale(1.2);
	}

	svg {
		width: 30px;
		height: 30px;
		position:absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		margin: auto;
		transition: all .3s ease-in;
	}
}

.preview-overlay-close svg {
	width: 25px;
	height: 25px;
}




