.columns {
	@include clearfix;
	&--x2-equal-width {
		@include screen(tablet){
			float: left;
			width: 50%;
		}
	}
	&--x2-equal-width-gutter {
		@include screen(tablet){
			box-sizing: border-box;
    		padding-right: 1em;
    		padding-left: 1em;
		}
	}
}