header {
	position:relative;
	@include screen(tablet) {
		height: 100vh;
	}
	&::after {
		content: "";
    	position: absolute;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	top: 0;
    	background: rgba(25, 25, 25, 0.6);
    	z-index: 1;
	}
	#menu-line-mobile {
		@include screen(tablet) {
			display:none;
		}
	}

	#navigation-bar {
		position: absolute;
		z-index: 10;
		height: 100px;
		top: 0;
		left: 0;
		right: 0;
		color: $navigation-color;
		h1 {
			@include screen(tablet) {
			display: inline-block;
			float: left;
			}
		}
	}

	#header-background-video {
		position: fixed;
	    top: 50%;
	    left: 50%;
	    min-width: 100%;
	    min-height: 100%;
	    width: auto;
	    height: auto;
	    z-index: -100;
	    -ms-transform: translateX(-50%) translateY(-50%);
	    -moz-transform: translateX(-50%) translateY(-50%);
	    -webkit-transform: translateX(-50%) translateY(-50%);
	    transform: translateX(-50%) translateY(-50%);
	    background: url(img/backgroundtop.jpg) no-repeat;
	    background-size: cover; 
	}
	#menu {
		#menu-line-mobile {
			color: white;
			background: black;
		}
	}
}

#nav {
	@include screen(tablet) {
		display: inline-block;
		float: right;
		margin: 30px 0 0 0;
	}

	li {
		@include screen(tablet) {
			display: inline-block;
		}

		a {
			color: $navigation-color;
			text-decoration: none;
			padding: 10px;
		}
	}
}
	