.overlay {
	display: none;
	background-color: rgba(0,0,0,.9);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	color: #FEFFFE;
	overflow: hidden;
	z-index: 1000;

	&__main-image {
		display: block;
		width: 80%;
		padding: 2.5em;
	}

	&__info {
		position: absolute;
		top: 2.5%;
		left: 60%;
		right: 2.5em;
		background: rgba(255,255,255,.5);
	}

	&__info-heading {
		background: rgba(0,0,0,.7);
		margin: 10px;
		padding: 7px;
	}

	&__info-subheading {
		text-align: left;
		margin: .75em 1em 0.25em;
		@extend %subtitilesOnPopUp;
	}

	&__info-subheading-preview {
		background: $medium-red;
		line-height: .8;
		padding: 12.5px 0;
		width: 40%;
		margin: 0 auto;
		text-align: center;
		border-radius: 15px;
	}

	&__desciption-container {
		position: relative;
		height: 16.25em;
	}

	&__info-text {
		display: none;
		text-align: center;
		margin: 0 1em;
		padding: 5px 0;
		background: rgba(0,0,0,.7);
		
		&-row-container {
			overflow: hidden;
			padding: 0;
			margin: 0.5em 0;
			height: 42px;
		}
		
		// &-line1 {
		// 	@extend %animationSlideDown;

		// 	animation-delay: .5s;
		// 	-webkit-animation-delay: .5s;	
		// }

		// &-line-disappear {
		// 	@extend %animationSlideDownDisappear;

		// 	animation-delay: .5s;
		// 	-webkit-animation-delay: .5s;	
		// }
		
		// &-line2 {
		// 	@extend %animationSlideDown;

		// 	animation-delay: 1s;
		// 	-webkit-animation-delay: 1s;
		// }
		// &-line3 {
		// 	@extend %animationSlideDown;	
		// 	animation-delay: 1.5s;
		// 	-webkit-animation-delay: 1.5s;
		// }
		// &-line4 {
		// 	@extend %animationSlideDown;	

		// 	animation-delay: 2s;
		// 	-webkit-animation-delay: 2s;
		// }
		// &-line5 {
		// 	@extend %animationSlideDown;

		// 	animation-delay: 2.5s;
		// 	-webkit-animation-delay: 2.5s;
		// }
	}

	&__info-skills {
		color: $very-dark-grey;
		margin: 1.5em 3em;
	}
}

.desc-content,
.desc-content-one,
.desc-content-two {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}


.reposiveLabel {
	position: absolute;
	left: -70px;
	top: 0;
	background: $medium-red;
	width: 300px;
	height: 40px;
	 -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    text-align: center;
    span {
    	display: inline-block;
    	margin-top: 0.625em;
    	margin-left: -5em;
    	text-transform: uppercase;
    }
}

