.section {
	&--features {
		text-align: center;
	}

	&--tb-padding {
		padding-top: 1em;
		padding-bottom: 1em;
		@include screen(tablet) {
			padding-top: 2em;
			padding-bottom: 2em;
		}
	}

	&--background-grey {
		background: $light-grey;
		background: -webkit-linear-gradient($plain-white, $light-grey); 
    	background: -o-linear-gradient($plain-white, $light-grey);
    	background: -moz-linear-gradient($plain-white, $light-grey);
		background: linear-gradient($plain-white, $light-grey);
	}

	&--main-heading {
		display: inline-block;
		position: relative;
		text-transform: uppercase;
		&:after {
			@extend %Underline;
			left: 0;
			width: 100%;
		}
	}

	&--subheading {
		text-align: center;
		margin-top: 0;
		width: 80%;
    	margin: 0 auto;
		@include screen(tablet){
			margin-top:0.5em;
			width: 40%;
 		}
	}
}

.feature {
	&--tb-margin {
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}

	&--icon {
		@include screen(tablet) {
			display:inline-block;
			width: 25%;
			margin-right: -5px;
		}
	}

	&--icon-svg {
		width: 60px;
		height: 60px;
		@include screen(tablet) {
			width:80px;
			height: 80px;
		}
	}

	&--content {
		@include screen(tablet) {
			display: inline-block;
			width:75%;
			text-align: left;
		}
	}
	&--heading {
		position: relative;
		text-transform: uppercase;
		margin-top: 5px;
		margin-bottom: 10px;
		@include screen(tablet) {
			margin-bottom: 15px;
		}
	}

	&--description {
		margin-top: 0;
	}

}